

<div id="palette-text-div">
  <p id="palette-text">The Color Palette</p> 
  
</div>
<br></br>

<div id = "color-container">
    <div class = "group">   
        <p id="color_1" class = "clear">.</p><div class="circle clear1" id="circle_1" ></div>
        <p id="color_2" class = "clear">.</p><div class="circle clear1" id="circle_2"></div>
        <p id="color_3" class = "clear">.</p><div class="circle clear1" id="circle_3"></div>
    </div>
    
    <div class = "group">  
        <p id="color_4" class = "clear">.</p><div class="circle clear1" id="circle_4"></div>
        <p id="color_5" class = "clear">.</p><div class="circle clear1" id="circle_5"></div>
        <p id="color_6" class = "clear">.</p><div class="circle clear1" id="circle_6"></div>
    </div>
    
    <div class = "group">  
        <p id="color_7" class = "clear">.</p><div class="circle clear1" id="circle_7"></div>
        <p id="color_8" class = "clear">.</p><div class="circle clear1" id="circle_8"></div>
        <p id="color_9" class = "clear">.</p><div class="circle clear1" id="circle_9"></div>
    </div>
</div>