


<div id="expl-text"
<p>
    This application is built using flask and employs a K-means algorithm to find out the clusters of 
    dominant colors in an image. K-means akgorithm is an unsupervised machine learning algorithm that 
    identifies k number of centroids, and then allocates every data point to the nearest cluster, while
    keeping the centroids as small as possible. The application allows the user to uppload an image and
    select the number of colors for the pallete. The 'Get Palette' button displays the output from k-means
    algorithm as both hex codes and as visual representation of the colors. Please note that this app only accepts png
    image format.
</p>

</div>